:root {
    --fuente1: font-family: 'Newsreader', serif;
    --color1: #8D3B72;
    --color2: #8A7090;
    --color3: #89A7A7;
    --color4: #72E1D1;
    --color5: #B5D8CC;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1 rem = 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuente1);
    font-size: 1.6rem;
    line-height: 2;
}


/* Globales */

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}